.card{
    height: 25em;
    margin: 1%;
    .card-body {
        display: grid;
        grid-template-rows: 0.5fr auto 1fr 0.5fr;
        height: 100%;
        padding-bottom: 0%;
        .card-title{
            width: 100%;
            text-align: center;
            justify-self: center;
            align-self: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .card-text{
            overflow: hidden;
            -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
        }
        .card-img{
            margin-bottom: 5%;
        }
        .tags{
            align-self: flex-end;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        .favourites-icon{
            width: 2vw;
            margin-bottom: 1vw;
        }
    }
   }